<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCZjZe7q4loCBnGOty50vdf8ca97SSWp8Q</string>
	<key>GCM_SENDER_ID</key>
	<string>894945989078</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.bosschatfflivestreamgemini</string>
	<key>PROJECT_ID</key>
	<string>f-f-livestream-gemini-zqjt6m</string>
	<key>STORAGE_BUCKET</key>
	<string>f-f-livestream-gemini-zqjt6m.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:894945989078:ios:64d59981e54b596bffd477</string>
	<key>DATABASE_URL</key>
	<string>https://f-f-livestream-gemini-zqjt6m-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>